.backdrop {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 5;
    transition: 200ms ease-in-out;
  }

  .overlay {
    min-width: 377px;
    position: absolute;
    background-color: white;
    border-radius: 13px;
    left: 70%;
    top: 12%;
    z-index: 6;

  }

  .example-appear {
    opacity: 0.01;
  }
  
  .example-appear.example-appear-active {
    opacity: 1;
    transition: opacity .5s ease-in;
  }


  @media only screen and (max-width:630px){
    .overlay{
      top: 30%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
